<div class="card">
    @if (reservations.length === 0) {
        <p class="font-medium">Parece que aun no has realizado ninguna reserva!</p>
    }@else{
        <p-table 
            [rows]="5"
            [paginator]="true"
            [value]="reservations"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Nombre Usuario</th>
                    <th>correo Electronico</th>
                    <th>Estado Reserva</th>
                </tr>
            </ng-template>
            <ng-template #body let-reservation>
                <tr class="font-normal">
                    <td>{{ reservation.user.name }}</td>
                    <td>{{ reservation.user.email }}</td>
                    <td>
                        <p-tag [value]="reservation.isActive?'Active':'Canceled'" [severity]="reservation.isActive?'success':'secondary'" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    }
</div> 