
<div class="grid align-items-center justify-content-center h-screen content-login">
    <div class="p-4 shadow-4 bg-white border-round-lg w-full lg:w-6">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Events Manager</div>
            <span class="text-600 font-medium line-height-3">{{isloggin()? 'Alegra tenerte de vuelta':'Construyamos esta experiencia juntos'}}</span>
        </div>
    
        <div>
            <form  [formGroup]="loginForm" (ngSubmit)="sendForm()" class="flex flex-column align-items-center gap-3" >
                
                @if (!isloggin()) {
                    <p-inputgroup class=" flex flex-row w-full">
                        <p-inputgroup-addon>
                            <i class="pi pi-user" size="large"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel variant="on"  class="w-full">
                            <input
                                required="true"
                                fluid="true"
                                [class]="'w-full '+(loginForm.get('name')?.valid? 'ng-invalid ng-dirty':'')"
                                pInputText id="name" formControlName="name" />
                            <label for="name">Nombre</label>
                        </p-floatlabel>
                    </p-inputgroup>
                }
                

                <p-inputgroup  class=" flex flex-row w-full">
                    <p-inputgroup-addon>
                        <i class="pi pi-user" size="large"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel variant="on"  class="w-full">
                        <input
                            required="true"
                            fluid="true"
                            [class]="'w-full '+(loginForm.get('email')?.valid? 'ng-invalid ng-dirty':'')"
                            pInputText id="email" formControlName="email" />
                        <label for="email">email</label>
                    </p-floatlabel>
                </p-inputgroup>
        
                <div class="flex flex-row w-full">
                    <p-inputgroup-addon>
                        <i class="pi pi-lock"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel variant="on" class="w-full">
                        <p-password
                            required="true"
                            fluid="true"
                            [toggleMask]="true"
                            [feedback]="true"
                            [class]="'w-full ' + (loginForm.get('password')?.valid? 'ng-invalid ng-dirty':'')"
                            inputId="password" formControlName="password" />
                        <label for="password">Contraseña</label>
                    </p-floatlabel>
                </div>

                @if (!isloggin()) {
                    <div class="flex flex-column w-full">
                        <div class="flex flex-row w-full">
                            <p-inputgroup-addon>
                                <i class="pi pi-lock"></i>
                            </p-inputgroup-addon>
                            <p-floatlabel variant="on" class="w-full">
                                <p-password
                                    required="true"
                                    fluid="true"
                                    [toggleMask]="true"
                                    [feedback]="true"
                                    [class]="'w-full ' + (loginForm.hasError('passwordMismatch')? 'ng-invalid ng-dirty':'')"
                                    inputId="confirmPassword" formControlName="confirmPassword" />
                                <label for="confirmPassword">Confirma la contraseña</label>
                            </p-floatlabel>
                        </div>
                        @if (loginForm.hasError('passwordMismatch')) {
                            <p class="font-medium" style="color: var(--p-red-600)">Las contraseñas no coinciden</p>
                        }
                    </div>
                }
                
                <p-button 
                    size="large"
                    type="submit"
                    [label]="isloggin()?'Iniciar sesion':'Registrarse'"
                    icon="pi pi-user"
                    class=""
                    [disabled]="!loginForm.valid"
                ></p-button>
            </form>
            <div class="w-full justify-content-center flex">
                @if (isloggin()) {
                    <p-button [link]="true" (click)="showLogginForm(false)" label="Aun no tienes una cuenta? Registrate ahora"></p-button>
                }@else{
                    <p-button [link]="true" (click)="showLogginForm(true)" label="Ya tienes una cuenta? Inicia sesion"></p-button>
                }
            </div>
        </div>
    </div>
</div>
<p-toast />
